.header_contacts{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:#f9f9f9;
    height: 45px;
}
.header_contacts>div>i{
    color: #c00407;
}
img{
    width: 200px;
    height: 200px;
}